@model List<Albergo.Models.Prenotazione>

@{
    ViewBag.Title = "Prenotazioni";
}

<h2>Prenotazioni</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Prenotazione ID</th>
            <th>Data Prenotazione</th>
            <th>Data Arrivo</th>
            <th>Data Partenza</th>
            <th>Numero Camera</th>
            <th>Tipo Pensione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prenotazione in Model)
        {
            <tr>
                <td>@prenotazione.Prenotazione_ID</td>
                <td>@prenotazione.Data_Pren.ToString("yyyy-MM-dd")</td>
                <td>@prenotazione.Data_Arrivo.ToString("yyyy-MM-dd")</td>
                <td>@prenotazione.Data_Partenza.ToString("yyyy-MM-dd")</td>
                <td>@prenotazione.Camera.Numero</td>
                <td>@prenotazione.Pensione.Tipo</td>
            </tr>
        }
    </tbody>
</table>

